.container {
    padding: 20px 180px;
    width: 100%;
    background-color: #1ea1c9;
    border-bottom: 1px solid #bee3ee;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu{
    a+a{
        margin-left: 38.9px;
    }
    
}