//@import "/ladingpage/src/styles/mixins/colors.scss";
.container {
    padding: 20px 20px; /* Reduzi o padding horizontal */
    max-width: 1200px; /* Define uma largura máxima para o container */
    margin: 0 auto; /* Centraliza o container */
    width: 100%;
    background-color: #1ea1c9;
    border-bottom: 0.5px solid #bee3ee; // azul-claro-color
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    font-size: 18px;
    a + a {
        margin-left: 20px; /* Ajustei o espaçamento entre os links */
    }
}

.action {
    text-align: end;
}

